<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User Database</title>

    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/users.css">
  </head>

  <body>
    <div id="layout">

      <div id="main">

        <div class="content">
          <%= yield %>        
        </div>
    
      </div>
    </div>

    <script type="text/javascript" src="javascripts/ui.js"></script>
  </body>
</html>